<h2>User</h2>

<div *ngIf="userObservable | async as user; else elseBlock">
    <h3>{{ user.id }}</h3>
    <div>
        <label>Name: </label>
        <input [(ngModel)]="user.name" placeholder="Name (optional)"/>
      </div>
    <div>
        <label>Created at: </label>
        {{ user.createdAt }}
    </div>

    <button (click)="updateUser(user)">Update user</button>
</div>

<ng-template #elseBlock>
    <h3>User not found</h3>
    <div>
        <label>Id: </label>{{ idOfUserNotFound }}
    </div>

</ng-template>

<button (click)="toUsers()">View users</button>